@import url("modern-normalize.css");
@import url("light.css");
@import "~flatpickr/dist/flatpickr.css";

:root {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

body,
html {
  height: 100%;
}
